.page-maps .ms-home-description {
    /* change the background image */
    background-image: url('../img/training-background.jpg') !important;
}

.page-maps .ms-home-description .container {
    /* change the overlay container color */
    background-color: rgba(255, 255, 255, 0.3) !important;
    /* change the minimum height of the jumbotron container */
    /* min-height: 250px; */
}


:root {
    --ms-font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --ms-font-family-serif: Georgia, 'Times New Roman', Times, serif;
    --ms-font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
    --ms-font-family-base: 'Noto Sans', sans-serif;
    --ms-main-bg: #ebebeb;
    --ms-mask-bg: #00000088;
    --ms-main-color: #000000;
    --ms-main-border-color: #942192;
    --ms-main-variant-color: #000000;
    --ms-main-variant-bg: #e6e6e6;
    --ms-main-hover-color: #000000;
    --ms-main-hover-bg: #c0c0c0;
    --ms-code-color: #c7254e;
    --ms-focus-color: #6298fa;
    --ms-selected-color: #0075ff;
    --ms-selected-bg: rgba(98, 152, 250, 0.4);
    --ms-selected-hover-bg: rgba(98, 152, 250, 0.1);
    --ms-placeholder-color: #aaaaaa;
    --ms-disabled-color: #999;
    --ms-disabled-bg: #eee;
    --ms-link-color: #000000;
    --ms-link-hover-color: #669c35;
    --ms-primary: #606060;
    --ms-primary-contrast: #ffffff;
    --ms-info: #0433ff;
    --ms-info-contrast: #ffffff;
    --ms-success: #398439;
    --ms-success-contrast: #ffffff;
    --ms-warning: #ff2600;
    --ms-warning-contrast: #ffffff;
    --ms-danger: #bb4940;
    --ms-danger-contrast: #ffffff;
    --ms-loader-color: #000000;
    --ms-loader-fade-color: rgba(0, 0, 0, 0.2);
    --ms-loader-primary-color: #606060;
    --ms-loader-primary-fade-color: rgba(96, 96, 96, 0.2);
    --ms-loader-primary-contrast-color: #ffffff;
    --ms-loader-primary-contrast-fade-color: rgba(255, 255, 255, 0.2);
    --ms-jumbotron-color: #000000;
    --ms-jumbotron-bg: rgba(235, 235, 235, 0.75);
    --ms-timeline-selected-bg: rgba(96, 96, 96, 0.05);
    --ms-timeline-histogram-bg: rgba(96, 96, 96, 0.5);
    --ms-timeline-histogram-color: #474747;
    --ms-timeline-range-bg: rgba(0, 0, 0, 0.2);
    --ms-timeline-playback-range-bg: rgba(72, 168, 72, 0.2);
    --ms-button-color: #606060;
    --ms-button-bg: #ebebeb;
    --ms-button-border-color: #606060;
    --ms-button-focus-color: #606060;
    --ms-button-focus-bg: #ebebeb;
    --ms-button-focus-border-color: #606060;
    --ms-button-hover-color: #7a7a7a;
    --ms-button-hover-bg: #d2d2d2;
    --ms-button-hover-border-color: #606060;
    --ms-button-active-color: #7a7a7a;
    --ms-button-active-bg: #d2d2d2;
    --ms-button-active-border-color: #606060;
    --ms-button-active-hover-color: #7a7a7a;
    --ms-button-active-hover-bg: #c0c0c0;
    --ms-button-active-hover-border-color: #606060;
    --ms-button-disabled-color: #999;
    --ms-button-disabled-bg: #eee;
    --ms-button-disabled-border-color: #eee;
    --ms-button-badge-color: #606060;
    --ms-button-badge-bg: #ebebeb;
    --ms-button-primary-color: #ffffff;
    --ms-button-primary-bg: #606060;
    --ms-button-primary-border-color: #565656;
    --ms-button-primary-focus-color: #ffffff;
    --ms-button-primary-focus-bg: #606060;
    --ms-button-primary-focus-border-color: #565656;
    --ms-button-primary-hover-color: #ffffff;
    --ms-button-primary-hover-bg: #474747;
    --ms-button-primary-hover-border-color: #414141;
    --ms-button-primary-active-color: #ffffff;
    --ms-button-primary-active-bg: #474747;
    --ms-button-primary-active-border-color: #414141;
    --ms-button-primary-active-hover-color: #ffffff;
    --ms-button-primary-active-hover-bg: #353535;
    --ms-button-primary-active-hover-border-color: #202020;
    --ms-button-primary-disabled-color: #ffffff;
    --ms-button-primary-disabled-bg: #939393;
    --ms-button-primary-disabled-border-color: #939393;
    --ms-button-primary-badge-color: #606060;
    --ms-button-primary-badge-bg: #ffffff;
    --ms-button-info-color: #ffffff;
    --ms-button-info-bg: #0433ff;
    --ms-button-info-border-color: #002def;
    --ms-button-info-focus-color: #ffffff;
    --ms-button-info-focus-bg: #0433ff;
    --ms-button-info-focus-border-color: #002def;
    --ms-button-info-hover-color: #ffffff;
    --ms-button-info-hover-bg: #0027d0;
    --ms-button-info-hover-border-color: #0025c6;
    --ms-button-info-active-color: #ffffff;
    --ms-button-info-active-bg: #0027d0;
    --ms-button-info-active-border-color: #0025c6;
    --ms-button-info-active-hover-color: #ffffff;
    --ms-button-info-active-hover-bg: #0020ac;
    --ms-button-info-active-hover-border-color: #001984;
    --ms-button-info-disabled-color: #ffffff;
    --ms-button-info-disabled-bg: #8f9dda;
    --ms-button-info-disabled-border-color: #8f9dda;
    --ms-button-info-badge-color: #0433ff;
    --ms-button-info-badge-bg: #ffffff;
    --ms-button-success-color: #ffffff;
    --ms-button-success-bg: #398439;
    --ms-button-success-border-color: #2d682d;
    --ms-button-success-focus-color: #ffffff;
    --ms-button-success-focus-bg: #398439;
    --ms-button-success-focus-border-color: #2d682d;
    --ms-button-success-hover-color: #ffffff;
    --ms-button-success-hover-bg: #2a602a;
    --ms-button-success-hover-border-color: #275927;
    --ms-button-success-active-color: #ffffff;
    --ms-button-success-active-bg: #2a602a;
    --ms-button-success-active-border-color: #275927;
    --ms-button-success-active-hover-color: #ffffff;
    --ms-button-success-active-hover-bg: #1f471f;
    --ms-button-success-active-hover-border-color: #132b13;
    --ms-button-success-disabled-color: #ffffff;
    --ms-button-success-disabled-bg: #929292;
    --ms-button-success-disabled-border-color: #929292;
    --ms-button-success-badge-color: #398439;
    --ms-button-success-badge-bg: #ffffff;
    --ms-button-warning-color: #ffffff;
    --ms-button-warning-bg: #ff2600;
    --ms-button-warning-border-color: #eb2300;
    --ms-button-warning-focus-color: #ffffff;
    --ms-button-warning-focus-bg: #ff2600;
    --ms-button-warning-focus-border-color: #eb2300;
    --ms-button-warning-hover-color: #ffffff;
    --ms-button-warning-hover-bg: #cc1e00;
    --ms-button-warning-hover-border-color: #c21d00;
    --ms-button-warning-active-color: #ffffff;
    --ms-button-warning-active-bg: #cc1e00;
    --ms-button-warning-active-border-color: #c21d00;
    --ms-button-warning-active-hover-color: #ffffff;
    --ms-button-warning-active-hover-bg: #a81900;
    --ms-button-warning-active-hover-border-color: #801300;
    --ms-button-warning-disabled-color: #ffffff;
    --ms-button-warning-disabled-bg: #d9988c;
    --ms-button-warning-disabled-border-color: #d9988c;
    --ms-button-warning-badge-color: #ff2600;
    --ms-button-warning-badge-bg: #ffffff;
    --ms-button-danger-color: #ffffff;
    --ms-button-danger-bg: #bb4940;
    --ms-button-danger-border-color: #ac433b;
    --ms-button-danger-focus-color: #ffffff;
    --ms-button-danger-focus-bg: #bb4940;
    --ms-button-danger-focus-border-color: #ac433b;
    --ms-button-danger-hover-color: #ffffff;
    --ms-button-danger-hover-bg: #953a33;
    --ms-button-danger-hover-border-color: #8d3730;
    --ms-button-danger-active-color: #ffffff;
    --ms-button-danger-active-bg: #953a33;
    --ms-button-danger-active-border-color: #8d3730;
    --ms-button-danger-active-hover-color: #ffffff;
    --ms-button-danger-active-hover-bg: #7a302a;
    --ms-button-danger-active-hover-border-color: #5c241f;
    --ms-button-danger-disabled-color: #ffffff;
    --ms-button-danger-disabled-bg: #b1b1b1;
    --ms-button-danger-disabled-border-color: #b1b1b1;
    --ms-button-danger-badge-color: #bb4940;
    --ms-button-danger-badge-bg: #ffffff;
    --ms-button-tray-color: #1a1a1a;
    --ms-button-tray-bg: #ebebeb;
    --ms-button-tray-border-color: #656565;
    --ms-button-tray-focus-color: #1a1a1a;
    --ms-button-tray-focus-bg: #d2d2d2;
    --ms-button-tray-focus-border-color: #3a3a3a;
    --ms-button-tray-hover-color: #1a1a1a;
    --ms-button-tray-hover-bg: #d2d2d2;
    --ms-button-tray-hover-border-color: #5b5b5b;
    --ms-button-tray-active-color: #1a1a1a;
    --ms-button-tray-active-bg: #d2d2d2;
    --ms-button-tray-active-border-color: #5b5b5b;
    --ms-button-tray-active-hover-color: #1a1a1a;
    --ms-button-tray-active-hover-bg: #c0c0c0;
    --ms-button-tray-active-hover-border-color: #3a3a3a;
    --ms-button-tray-disabled-color: #1a1a1a;
    --ms-button-tray-disabled-bg: #ffffff;
    --ms-button-tray-disabled-border-color: #ffffff;
    --ms-button-tray-badge-color: #ebebeb;
    --ms-button-tray-badge-bg: #1a1a1a;
  }
